<label class=''>
    <input type='checkbox' <% if (completed) { %>checked<% } %>>
    <input type='text' value='<%=title %>' class='todo'>
    <span class='title'>
        <%= title %>
    </span>
</label>
<span class="glyphicon glyphicon-remove-circle"></span>
