<fieldset>
<form class='input-append'>
    <input type='text' name='todo' id='new-todo' placeholder='What do you need to do today?' size='32'>
    <input type='submit' class='btn' value='Submit'>
</form>
<ul class='todo-list'>
    <!-- Where our To Do items will go -->
</ul>
</fieldset>
